backcall==0.2.0
click==7.1.2
corpy==0.2.3
cycler==0.10.0
decorator==4.4.2
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
joblib==0.16.0
kiwisolver==1.2.0
lazy==1.4
lxml==4.5.1
matplotlib==3.2.1
numpy==1.18.5
pandas==1.0.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2019.12.20
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
threadpoolctl==2.1.0
traitlets==4.3.3
ufal.morphodita==1.9.2.3
ufal.udpipe==1.2.0.3
wcwidth==0.2.5
wget==3.2
wordcloud==1.7.0
xgboost==1.1.1
nltk==3.4.5
Django==3.0.8
django-crispy-forms===1.9.2
django-bootstrap4===2.2.0
pylint===2.5.3
